
* {
    font-family: Helvetica, sans-serif;
}

body {
    font-size: small;
    padding: 10px 10px 10px 10px;
}

.banner {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 400px;
}

footer img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 160px;
}


body {
    background-color: black;
    color: white;
}

h1 {
    font-family: Helvetica, sans-serif;
    text-transform: uppercase;
}

p {
    color: white;
}

a:link {
    color: cornflowerblue;
}

a:visited {
    color: mediumpurple;
}


img {
    /*float:left;*/
    width: 640px;
}


.row {
    display: flex;
    flex-wrap: wrap;
    
}

.column {
    float:left;
    margin-left: 8px;
    margin-right: 8px;
    flex: 50%;
    max-width: 45%;
}

    .column img {
        border: 2px solid white;
        margin: 8px;
        vertical-align: middle;
        width: 100%;
        border-radius: 24px;
    }

@media screen and (max-width: 800px) {
    .column {
        flex: 100%;
        max-width: 100%;
    }
}
